/*allMenuButtons*/
/*Logotype*/
.mainHeader{

  font-size: 60px;
  font-family: Gabriola;
  margin-top: 0px;
  margin-bottom: 0px;
  color: darkblue;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  align-items: center;
    justify-content: all;
    padding: 0px;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center ;
    margin-top: 0;
   
  
  
}

h1{

    font-size: 60px;
    font-family: Gabriola;
    margin-top: 0px;
    margin-bottom: 10px;
    background-image: url(7564067.png);
  background-position: flex-end;
  background-repeat: no-repeat;
  background-size:calc(100px);
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; 
    
  }

.sectionMenu{
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  justify-content: space-around;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: flex-end;
  background-color: lightskyblue;
  
  
}

/*.allMenuButtons{
  display: flex;
  display: inline-block;
  align-items: flex-end;
  justify-content: space-around;
  line-height: 3;
  padding: 20px;
  flex-direction:row;
  flex-wrap: wrap;

}*/

.topnav {
  overflow: hidden;
  background-color: none;
  margin-left: 20px;
  margin-right: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gabriola;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding:10px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: rebeccapurple;
  background-image: 'Mainpicture.jpg';
  
  background: lightskyblue;
  color: black;
  border-spacing: 10px;
  text-decoration: none;
}



.topnav a:hover {
  
  color: black;
}

.topnav a.active {
  background-color:white;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;}
  .tableRegister{
    width:80%;

  }
  
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*Catalog sections*/
.buttonmenu{
  word-wrap: unset;
  white-space: nowrap;
  font-family: Gabriola;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding:15px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: darkblue;
  border-spacing: 10px;
  text-decoration: none;
  
}

.tableRegister {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
    max-width: 250px;

}
.tabledata{
  font-weight: bold;
  font-family: Gabriola;
  font-size: 25px;
 
  
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Gabriola;
  font-size: 25px;

  

}
/*FRONT PAGE*/
.tervettuloa{
    align-items: center;
    text-align: center;
    font-family: Gabriola;
    color: darkblue;
    font-size: 2em;
    margin-top: 0;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  
  }
  
  .sectionUutiset {
  
    display: flex;
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin-top: 10px;
    }
  
    .uutisetBoxes{
    display: inline-block;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    padding-top: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    }
  
  
  
  .headerUutiset{
    font-family: Gabriola;
    font-size: 3em;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color:darkblue;
    font-weight: bold;
  }
  .titleUutiset{
    display: inline-block;
    font-size: 30px;
    padding: 10px;
    justify-content:flex-start;
    font-weight: normal;
    word-wrap: normal;
  }
  
  .articleWrap{
    display: flex;
    flex-direction: row;
  
  }
  
  .uutisetFrontPage{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px;
    padding: 0px;
    flex: 0.15;
    font-family: Gabriola;
    font-size: 20px;
    flex-wrap: wrap;
    flex: basis 0.25;
    block-size: 0.25;
  
  }
  
  .uutisetImage{
    display: block;
    align-items: flex-start;
    padding-right: 20px;
    padding-top: 20px;
    
  }
  
  .display-imgnews{
    align-items: flex-start;
    max-width: 250px;
  }
  .display-imgtietoa{

  }
  
  
  .uutisetBody{
    font-family: Gabriola;
    font-size: 20;
    line-height: 1;
    align-items: flex-start;
  }
  
  .newsLinks{
    text-decoration: none;
    color: black;
  }

.buttonmenutuote {
  word-wrap: unset;
  white-space: nowrap;
  font-family: Gabriola;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding:15px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;
  border-color: black;
  border-style: solid;
  color: black;
  border-spacing: 10px;
  text-decoration: none;
  
}

a:hover{
  color: mediumvioletred;
  text-decoration-style: solid;
  font-weight: bold;
}

a{
  font-family: Gabriola;
  font-size: 25px;
  color: black;
  text-decoration: none;
}



/*TUOTTEET*/
.sectionTuotteetCategories {
  display: flex;
  padding: 20px;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-items: stretch;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;

}
.tuotteetCategoryHead {
  display: flex;
  padding: 10;
  flex-direction:column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: space-around;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 30;
  margin-left: 40px;
  margin-right: 40px;
  white-space: nowrap;


}

.tuotteeth2{
  display: block;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.display-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 190px;
  width: 80%;
  padding-bottom: 1rem;

}

/* 
.tuotteetArt{*/

.catalogArt{    
  display: block;
  align-content: center;
  justify-content: center;
  border-style:solid; 
  border-color: lightgrey;
  margin: 20px;
  padding: 20px;
  flex: 0.35;
  font-family: Gabriola;
  font-size: 20px;
  flex-wrap: wrap;
  flex: basis 0.25;
  block-size: 0.25;
   
}



p{
  display: inline-block;
  text-align: center;
  width: 10%;
  
}

.headerCatalog{
  font-family: Gabriola;
  font-size: 3em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  color:darkblue;
}

.sectionMyymälät{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;

  
  

}

.sectionOmaProfiilini{
  display: flexbox;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
 
}

.myymäläFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 0px;
  margin: 20px;
  margin-top: 0px;
  align-items: flex-start;
  justify-items: space-around;
  
}


.innerOneMyymälä{
  display: inline-block;
  flex-direction: row;
  padding: 20px;
  margin: 20px;
  align-items: flex-start;
}

.map{
  display: block;
  align-items: flex-start;
  padding-right: 20px;
  padding-top: 20px;
  weight: 40%;
}
.address{
  display: flex;
  flex-direction: column;
}
.Shopinfo{
  flex: block;
  width: 60%;
  padding: 0px;
  margin: 0px;
  line-height: 1;
  font-size: 25px;
  font-family: Gabriola;
  font-weight: bold;
  text-align: left;
}


.tietoaBody{
  font-family: Gabriola;
  font-size: 2;
  padding: 30px;
  padding-bottom: 0px;
  padding-top: 0px;  
  margin: 30px;
  margin-top: 0px;
  width: 40%;
}



.titleTietoa{
  display: inline-block;
  font-size: 25px;
  line-height: 1;


  
  

}

.articleWrap{
  display: flex;
  flex-direction: row;
  background-color: snow;

}

.tietoaMeistaFrontPage{
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;


 

}

.tietoaMeistaImage{
  display: block;
  align-items: flex-start;
  padding-right: 20px;
  padding-top: 20px;
  object-fit:scale-down;
  max-width:100%;



  
}



.titleYhteytta{
  display: inline-block;
  font-size: 25px;
  line-height: 1;
  text-align: center;
}

.yhteyttaBody{
  text-align: center;
  font-family: Gabriola;
  font-size: 2;
  padding: 30px;
  padding-bottom: 0px;
  padding-top: 0px;  
  margin: 30px;
  margin-top: 0px;
  width: 80%;

}


/*Ulkokasvit*/

.sectionUlkokasvit {
  display: flex;
  padding: 20px;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-items: stretch;
  margin-left: 40px;
  margin-right: 40px;

}
.tuotteetCategoryHead {
  display: flex;
  padding: 10;
  flex-direction:column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: space-around;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 30;
  margin-left: 40px;
  margin-right: 40px;


}

.display-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 1rem;

}

.articleTuoteinLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: lightgrey;
  border-style: solid;
  min-width: 250px;
  margin: 20px;
  padding: 10px;
  flex: 1;
  font-family: Gabriola;
  font-size: 25px;
  font-weight: bold;
  background-color: white;

}

.productsInList{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-items: center;
}

.hinta{
  display: block;
  font-family: Gabriola;
  font-size: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:0px;
  width: 100%;
  text-align:right;
  padding-right: auto;
}

.buttonmenutuotebyName{
  display: flex;
  object-position: center;
  word-wrap: unset;
  white-space: nowrap;
  font-family: Gabriola;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  font-size: 20px;
  text-transform: uppercase;
  justify-items: center;
  align-items: center;
  color: black;
  border-spacing: 10px;
  text-decoration: none;

  

}
.iLoveMyBasket{
  background-color: none;
}
.buttonAddToCard{
  text-shadow: rebeccapurple;
  font-family: Gabriola;
  font-size: 20px;
  width: 80%;
  border-radius: 3px;
  background-color: lightskyblue;
 
  color: black;
  appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    padding: 5px 10px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


.registerLomake{
  font-weight: bold;
  font-family: Gabriola;
  font-size: 25px;
  grid-template-columns: subgrid;
  width: 80%;
  border-color: lightgrey;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Gabriola;
  font-size: 25px;
  word-wrap: unset;
  white-space: nowrap;
  border-width: 1px;

}
.cancelbtn { 
  word-wrap: unset;
  white-space: nowrap;
  font-family: Gabriola;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding:15px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: rebeccapurple;
  border-radius: 10px;
  background-color: lightgrey;
  background: linear-gradient(90deg, pink, lightgrey);
  color: black;
  border-spacing: 10px;
  text-decoration: none;
  
}


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.msg {
  border: 2px, solid;
  padding: 10px;
  font-family: Gabriola;
  font-size: 25px;
  color: red;
  text-align: center;

}

.msgcurretnUserName{
  display:flex;
  flex-direction: row;
  padding: 10px;
  font-family: Gabriola;
  font-size: 30px;
  color: black;
  font-weight: bold;
  justify-content: center;
}

.myyjalleLink{
  display: inline-block;
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  font-family: Gabriola;
  background-color: lightskyblue;
  padding: 10px;
  border: none;

}

.buttonmenulaheta{
    padding:10px;
    font-family: Gabriola;
    font-weight: bold;
    font-size: 20px;
    background-color: lightskyblue;
    border-style: none;

}